.rounded {
    border-radius: 10px;
}

// .main_container {
//     width: 100%;
//     height: 80vh;
//     // background-color: gray;
// }

// .first {
//     height: 100%;
//     // background-color: red;
//     color: #dad9d9;

//     display: flex;
//     flex-direction: column;
//     // gap: 0.5rem;
// }

// .first_one {
//     background-color: gray;
//     padding: 0;
//     height: 60%;

//     position: relative;

//     overflow: hidden;

    
// }

// .overlay {
//     position: absolute;
//     width: 100%;
//     height: 100%;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     font-size: 3rem;
//     font-weight: 900;
// }

// .overlay_text {
//     // position:absolute;
//     // left: 50%;
//     // top: 50%;

//     // margin: auto;
//     font-family: 'Rifton';
// }



// .first_two {
//     background-color: #26328d;
//     height: 40%;

//     padding: 0;
//     // height: 60%;

//     position: relative;

//     overflow: hidden;

// }

// .second {
//     // background-color: blue;

//     display: flex;
//     flex-direction: column;
// }

// .second_one {
//     background-color: gray;

//     height: 40%;

// }

// .second_two {
//     background-color: #db2213;

//     height: 60%;

// }

// .third {
//     // background-color: aquamarine;
// }

// .third_one {
//     height: 100%;
//     background-color: #f2ed04;
// }

.main {
    background-color: aqua;
    height: 80vh;
    width: 100%;

    display: flex;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color: red;
    width: 20%;
    height: 100%;
}

.second {
    width: 40%;
    background-color: green;
}

.third {
    width: 40%;
    background-color: brown;
}

.first_one {
    height:50%;
    background-color: bisque;
    border-radius: 10px;
}

.first_two {
    height: 30%;
    background-color:purple;
    border-radius: 10px;
}

.first_three {
    height: 20%;
    background-color: yellowgreen;
    border-radius: 10px;
}

.second_one {
    height: 30%;
    background-color: yellow;
    display: flex;
}

.second_one_one {
    width: 60%;
    background-color: rosybrown;
}

.second_one_two {
    width: 40%;
}


.second_two {
    height: 70%;
    background-color: blue;
    display: flex;
}

.second_two_one {
    width: 37%;
    background-color: black;
}

.second_two_one_one {
    background-color: palevioletred;
}

.second_two_two_one_two {
    height: 30%;
    background-color: white;
}

.second_two_one_three {
    height: 20%;
}


.second_two_two {
    width: 65%;
    background-color: red;
}

.third_two {
    display: flex;
}