@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rifton';
  src: url('/fonts/Rifton_Norm.otf') format('opentype');
}

@font-face {
  font-family: 'Montreal';
  src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
}

@font-face {
  font-family:'Thunder';
  src: url('/fonts/Thunder-SemiBoldLCItalic.ttf') format('opentype');

}

:root {
  --nero:#0a0a09;
}

body {
  /* overflow: hidden;  */
  background-color: var(--nero);
  font-family: 'Montreal';
  }

  /* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Add custom styling to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* Add custom styling to the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

/* .marquee-container {
  height: 30px;
  overflow: hidden;
  line-height: 30px;
}
.marquee-container .marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}
.marquee-container .marquee2 {
  animation-delay: 15s;
}
.marquee-container b {
  padding-left: 10px;
}
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
} */

.Typewriter__wrapper .Typewriter__cursor {
  z-index: 1;
  position: absolute;
  left: 20px;
  width: 2px;
  background-color: #000;
  height: 20px;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.mousefollow {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* filter: blur(20px); */
  background-color: red;
  /* background: linear-gradient(#43d9ad, #4d5bce); */
  opacity: 1;
  z-index: 2;
  pointer-events: none;
  /* transition: transform 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67); */
}


/* lolL */

.angry-grid {
  display: grid; 

  

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
  /* width: rem; */
  height: 70vh;
  column-gap: 0.6rem;
  row-gap: 0.6rem;
}
 
#item-0 {

  background-color: #BDF5EE; 
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 3;
  border-radius: 10px;

  
}
#item-1 {

  background-color: #DD7576; 
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 3;
  border-radius: 10px;

}
#item-2 {

  background-color: #7F79DF; 
  grid-row-start: 6;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 3;
  border-radius: 10px;

}
#item-3 {

  background-color: #55FBD5; 
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 6;
  border-radius: 10px;

}
#item-4 {

  background-color: #57D777; 
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
  border-radius: 10px;

}
#item-5 {

  background-color: #99BBDC; 
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 7;
  border-radius: 10px;

}
#item-6 {

  background-color: #5DE8D7; 
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 6;
  grid-column-end: 4;
  border-radius: 10px;

}
#item-7 {

  background-color: #BD7968; 
  grid-row-start: 6;
  grid-column-start: 3;

  grid-row-end: 7;
  grid-column-end: 4;
  border-radius: 10px;

}
#item-8 {

  background-color: #F5579D; 
  grid-row-start: 1;
  grid-column-start: 6;

  grid-row-end: 3;
  grid-column-end: 7;
  border-radius: 10px;

}
#item-9 {

  background-color: #7F5B57; 
  grid-row-start: 5;
  grid-column-start: 4;

  grid-row-end: 7;
  grid-column-end: 6;
  border-radius: 10px;

}
#item-10 {

  background-color: #B6ECD7; 
  grid-row-start: 1;
  grid-column-start: 7;

  grid-row-end: 3;
  grid-column-end: 11;
  border-radius: 10px;

}
#item-11 {

  background-color: #6DDB6B; 
  grid-row-start: 3;
  grid-column-start: 7;

  grid-row-end: 5;
  grid-column-end: 8;
  border-radius: 10px;

}
#item-12 {

  background-color: #9BDBBB; 
  grid-row-start: 5;
  grid-column-start: 7;

  grid-row-end: 7;
  grid-column-end: 11;
  border-radius: 10px;

}
#item-13 {

  background-color: #77B85A; 
  grid-row-start: 3;
  grid-column-start: 8;

  grid-row-end: 5;
  grid-column-end: 11;
  border-radius: 10px;

}
#item-14 {

  background-color: #D775B9; 
  grid-row-start: 5;
  grid-column-start: 6;

  grid-row-end: 7;
  grid-column-end: 7;
  border-radius: 10px;

}

.rounded {
  border-radius: 10px;
}