@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rifton';
  src: url('/fonts/Rifton_Norm.otf') format('opentype');
}

@font-face {
  font-family: 'Montreal';
  src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
}

:root {
  --nero:#0a0a09;
}

body {
  /* overflow: hidden;  */
  background-color: var(--nero);
  font-family: 'Montreal';
  }

  /* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Add custom styling to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* Add custom styling to the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

/* .marquee-container {
  height: 30px;
  overflow: hidden;
  line-height: 30px;
}
.marquee-container .marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}
.marquee-container .marquee2 {
  animation-delay: 15s;
}
.marquee-container b {
  padding-left: 10px;
}
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
} */

.Typewriter__wrapper .Typewriter__cursor {
  z-index: 1;
  position: absolute;
  left: 20px;
  width: 2px;
  background-color: #000;
  height: 20px;
}

