.marquee_header {
    // background-color: #dad9d9;
    // color: white;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 7rem;
    font-weight: 700;
  }

  .roba {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 7rem;
    font-weight: 700;
  }