

.main_container {
    width: 100%;
    height: 80vh;
    // background-color: gray;
}

.first {
    height: 100%;
    // background-color: red;
    color: #dad9d9;

    display: flex;
    flex-direction: column;
    // gap: 0.5rem;
}

.first_one {
    background-color: gray;
    padding: 0;
    height: 60%;

    position: relative;

    overflow: hidden;

    
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    font-weight: 900;
}

.overlay_text {
    // position:absolute;
    // left: 50%;
    // top: 50%;

    // margin: auto;
}



.first_two {
    background-color: #26328d;
    height: 40%;

}

.second {
    // background-color: blue;

    display: flex;
    flex-direction: column;
}

.second_one {
    background-color: gray;

    height: 40%;

}

.second_two {
    background-color: #db2213;

    height: 60%;

}

.third {
    // background-color: aquamarine;
}

.third_one {
    height: 100%;
    background-color: #f2ed04;
}