.container {
    background-color: #0a0a09 ;
    margin-top: 5rem;
}

.marques {
    // height: 5rem;
    background-color: #dad9d9;
    font-size: 3rem;
    overflow: hidden;
}

.body {
    // height: 50vh;
    color: #dad9d9;

    // padding-top: 2rem;
    // padding: 5rem 5rem 2rem 2rem;
    justify-content: space-around;
    padding: 2rem;

    // padding-right: 2rem;
    // padding-left: 2rem;

    // padding:2rem
    font-size: 1.2rem;

}

.one {
    // flex flex-col justify-center 
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    margin: 0;
    width: 10rem;
    height: fit-content;
    
}

.privacy_cookie {
    display: flex;
    gap: 0.5rem;
}

.titolo {
    font-size: 2rem;
    font-weight: 900;
}

.newsletter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    line-height: 90%;
}

.input {
    background-color: #0a0a09;
    border-bottom: 2px double #dad9d9;
    outline: none;
    cursor: none;
}

.button {
    border: 2px double #dad9d9;
    border-radius: 3px;
    padding: 0.2rem;
}